<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
    <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
  
      <ion-item>
        <ion-label  position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email" [class.error1]="!validations_form.controls.email.valid && !!validations_form.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( validations_form.get('email').hasError('minlength') || validations_form.get('email').hasError('pattern') || validations_form.get('email').hasError('required') ) && validations_form.get('email').touched">
        <div class="error" *ngIf="validations_form.get('email').hasError('required') && validations_form.get('email').touched">
          Please input your email
        </div>
        <div class="error" *ngIf="validations_form.get('email').hasError('pattern') && validations_form.get('email').touched">
          Email address invalid
        </div>
      </ion-item>
      
      <ion-item>
        <ion-label  position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password" class="form-controll" [class.error1]="!validations_form.controls.password.valid && !!validations_form.controls.password.dirty" required></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( validations_form.get('password').hasError('minlength') || validations_form.get('password').hasError('maxlength') || validations_form.get('password').hasError('required') ) && validations_form.get('password').touched">
        <div class="error" *ngIf="validations_form.get('password').hasError('required') && validations_form.get('password').touched">
          Please input your password
        </div>
        <div class="error" *ngIf="validations_form.get('password').hasError('minlength') && validations_form.get('password').touched">
          Minimum 5 characters
        </div>
        <div class="error" *ngIf="validations_form.get('password').hasError('maxlength') && validations_form.get('password').touched">
          Maximum 20 characters
        </div>
      </ion-item>
      <br>
      <div text-center>
      <ion-button class="submit-btn" type="submit" color="primary" [disabled]="!validations_form.valid" >Log In</ion-button>
      </div>
      <label class="error-message">{{errorMessage}}</label>
    </form>
    <p class="go-to-register">
      No account yet? <a (click)="goToRegisterPage()">Create an account.</a>
    </p>
  </ion-card-content>
</ion-card>
</ion-content>
