.error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }
  
  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }

  p {
     text-align: center;
  }

  ion-input {
    --padding-end: 5px;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
